.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
.carousel-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
.carousel-container img {
}