.carousel-container {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.carousel-item {
  flex: none;
  scroll-snap-align: start; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 100%;
}