.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;

}

.carousel-item {
  flex: none;
  scroll-snap-align: start; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}