@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background: #2B50AA;
  padding-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@layer utilities {
  @font-face {
    font-family: satoshi;
    src: url(/src/assets/fonts/Satoshi-Variable.ttf) format("truetype");
  }
}

.anim_e1, .anim_e2, .anim_e4, .anim_e5, .anim_e6 {
  opacity: 0;
}